<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor SkiaSharp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mesh-sample">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Mesh Sample
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plotPage">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Plot Sample
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="art-lines">
                <span class="oi oi-graph" aria-hidden="true"></span> Art Lines
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="type-face">
                <span class="oi oi-text" aria-hidden="true"></span> Type Face
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
