@page "/art-lines"
@using SkiaSharp
@using SkiaSharp.Views.Blazor
@using System.Threading
@implements IDisposable

<style>
    .size {
        width: 500px;
        height: 300px;
        border: 1px solid rgb(220,220,220);
    }
</style>

<h2>Native Drawing</h2>
<hr />
<p>Unattended drawing through a reference</p>

<SKCanvasView OnPaintSurface="OnPaintSurface"
              @ref="canvasView"
              @onmousemove="OnPointerMove"
              class="size" />
<p class="xy-label">@xySK</p>

@code {
    string xySK = string.Empty;
    readonly Random rand = new();
    Timer? timer;
    readonly int lineCount = 32;
    SKCanvasView? canvasView;

    protected override void OnInitialized()
    {
        timer = new Timer(_ => {
            canvasView!.Invalidate();
        }, null, 0, 1000);
    }

    void OnPaintSurface(SKPaintSurfaceEventArgs e)
    {
        var canvas = e.Surface.Canvas;
        canvas.Clear();

        using var pen = new SKPaint {
                IsAntialias = true,
                Style = SKPaintStyle.Stroke
            };

        for (int i = 0; i < lineCount; i++) {
            pen.Color = new SKColor(
                    red: (byte)rand.Next(255),
                    green: (byte)rand.Next(255),
                    blue: (byte)rand.Next(255),
                    alpha: (byte)rand.Next(255));
            pen.StrokeWidth = rand.Next(1, 10);

            int x1 = rand.Next(e.Info.Width);
            int y1 = rand.Next(e.Info.Height);
            int x2 = rand.Next(e.Info.Width);
            int y2 = rand.Next(e.Info.Height);
            canvas.DrawLine(x1, y1, x2, y2, pen);
        }
    }

    void OnPointerMove(MouseEventArgs e)
    {
        float x = (float)e.OffsetX;
        float y = (float)e.OffsetY;
        xySK = $"Pointer: ({x}, {y})";
    }

    void IDisposable.Dispose()
    {
        timer?.Dispose();
    }
}